<% layout('layouts/boilerplate') %>
<% block('head12').append('<link rel="stylesheet" href="/edit.css">') %>

<body>
    <div class="container">
        <h1>Edit Listing</h1>
        <form action="/listings/<%= listing.id %>?_method=PUT" class="needs-validation" method="POST" novalidate enctype="multipart/form-data" >
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="listing[title]" value="<%= listing.title %>" placeholder="Enter the title of your listing" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide the title!
                </div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="string" class="form-control" id="price" name="listing[price]" value="<%= listing.price %>" placeholder="Enter the price in USD" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide the Price!
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="listing[description]" rows="4" placeholder="Provide a detailed description of the item" required><%= listing.description %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide the Description!
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="listing[location]" value="<%= listing.location %>" placeholder="Enter the city and area (e.g., Downtown, New York)" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide the Location!
                </div>
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">country</label>
                <input type="text" class="form-control" id="country" name="listing[country]" value="<%= listing.country %>" placeholder="Enter the Country" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide the Country!
                </div>
            </div>
            <div class="mb-3" style="width: 300px; max-height: 300px;">
                Original Listing Image
                <!-- What we want here ? _> to preview the old listing image but won't show the high resolution pixel image or suppose we want to show blur image or something else etc then we can perform the chg when retrieving from cloudinary using cloudinary api itself -->
                <img src="<%= originalImageUrl %>" alt="" srcset=""> 
            </div>
            <br></br>
            <div class="mb-3">
                <label for="image">Upload Image :</label>
                <input type="file" id="image" name="image" class="form-control" >
            </div>
            <button type="submit" class="btn btn-primary w-100">Update Listing</button>
        </form>
    </div>
</body>
